<!DOCTYPE html>
<html>

<head>

</head>

<body>



    <img alt="हुतात्मा स्मारक"
        style=" max-width: 100%; border: 2px solid #ffcccc; border-radius: 4px; padding: 5px; width: 1000px;"
        src="https://lh3.googleusercontent.com/pw/AL9nZEUTL7tz_1BWzeYh33CmsSjerRi-Q0Oq1uVYx1ZrZwNXvIT6QVx0LEvnMJ111h7lfacJlkL1NNuvnCrVIdKYSOQgA2hRytIIKor2l1tZFnti2l52IoWkb5gpDXg03UFKzIfEJ4sC0JLPFf5CxBVuJMhL0g=w1817-h1022-no?authuser=0">
    <p>मराठवाड्यातील एक हुतात्मा स्मारक: २०१८ चे प्रकाशचित्र</p>
    <hr />



</body>

</html>